{% comment %}
  Rago Mosaic
{% endcomment %}
{%- if section.blocks -%}
  <div class="rg-mosaic-container">
    {%- for block in section.blocks -%}
      {%- if block.type == 'tile' -%}
        {%- if block.settings['hide-text'] -%}
          <a
            href="#"
            class="rg-ms-tile{% if block.settings.tileSize == "large" %} rg-ms-tile-lg{% elsif block.settings.tileSize == "xl" %} rg-ms-tile-xlg{% endif %}"
          >
            <div class="rg-ms-underlay">
              {{
                block.settings.image
                | image_url: width: 500
                | image_tag: widths: '1920,1440,1280,1080,860,690,540,380'
              }}
            </div>
            <div class="rg-ms-overlay">
              <p class="rg-ms-title sr-only">{{ block.settings.heading }}</p>
            </div>
          </a>
        {%- else -%}
          <div class="rg-ms-tile{% if block.settings.tileSize == "large" %} rg-ms-tile-lg{% elsif block.settings.tileSize == "xl" %} rg-ms-tile-xlg{% endif %}">
            <div class="rg-ms-underlay">
              {{
                block.settings.image
                | image_url: width: 500
                | image_tag: widths: '1920,1440,1280,1080,860,690,540,380'
              }}
            </div>
            <div class="rg-ms-overlay">
              <p class="rg-ms-title">{{ block.settings.heading }}</p>
              <div class="rg-ms-tile-links">
                <a href="{{ block.settings.link.url }}" class="rg-solid-button rg-ms-secondary">
                  <p>{{ block.settings.buttonText }}</p>
                </a>
              </div>
            </div>
          </div>
        {%- endif -%}
      {%- elsif block.type == 'twoLinkTile' -%}
        <div class="rg-ms-tile{% if block.settings.tileSize == "large" %} rg-ms-tile-lg{% elsif block.settings.tileSize == "xl" %} rg-ms-tile-xlg{% endif %}">
          <div class="rg-ms-underlay">
            {{
              block.settings.image
              | image_url: width: 500
              | image_tag: widths: '1920,1440,1280,1080,860,690,540,380'
            }}
          </div>
          <div class="rg-ms-overlay">
            <p class="rg-ms-title">{{ block.settings.heading }}</p>
            <div class="rg-ms-tile-links">
              <a href="{{ block.settings.link.url }}" class="rg-solid-button rg-ms-secondary">
                <p>{{ block.settings.buttonText }}</p>
              </a>
              <a href="{{ block.settings.linkTwo.url }}" class="rg-solid-button rg-ms-secondary">
                <p>{{ block.settings.buttonTwoText }}</p>
              </a>
            </div>
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
{%- endif -%}
{% schema %}
{
  "name": "Rago Mosaic",
  "tag": "section",
  "class": "rg-mosaic",
  "settings": [],
  "blocks": [
    {
      "type": "tile",
      "name": "Tile",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "buttonText",
          "label": "Button Text"
        },
        {
          "type": "checkbox",
          "id": "hide-text",
          "label": "Hide Text",
          "default": false
        },
        {
          "type": "range",
          "id": "overlay",
          "label": "Opacity",
          "min": 0,
          "max": 100,
          "default": 90,
          "step": 10,
          "unit": "%"
        },
        {
          "type": "radio",
          "id": "tileSize",
          "label": "Tile Size",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "large",
              "label": "Large"
            },
            {
              "value": "xl",
              "label": "Full Width"
            }
          ]
        }
      ]
    },
    {
      "type": "twoLinkTile",
      "name": "Two Link Tile",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "url",
          "id": "linkOne",
          "label": "Link One"
        },
        {
          "type": "text",
          "id": "buttonText",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "linkTwo",
          "label": "Link Two"
        },
        {
          "type": "text",
          "id": "buttonTwoText",
          "label": "Button Two Text"
        },
        {
          "type": "range",
          "id": "overlay",
          "label": "Opacity",
          "min": 0,
          "max": 100,
          "default": 90,
          "step": 10,
          "unit": "%"
        },
        {
          "type": "radio",
          "id": "tileSize",
          "label": "Tile Size",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "large",
              "label": "Large"
            },
            {
              "value": "xl",
              "label": "Full Width"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rago Mosaic",
      "settings": {}
    }
  ]
}
{% endschema %}
